/* ==========================================================================
  Reset 
  ========================================================================== */

  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* ==========================================================================
  General
  ========================================================================== */

/* Colour Palette */

* {
  --purple: #94618E;
  --dark-purple: #49274A;
  --peach: #F4decb;
  --off-white: #F8EEE7;
}

/* Font Stack */
/* https://modernfontstacks.com/ */

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
  source-sans-pro, sans-serif;
}