/* ==========================================================================
  Reset 
  ========================================================================== */

  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* ==========================================================================
  General
  ========================================================================== */

/* Colour Palette */

* {
  --purple: #94618E;
  --dark-purple: #49274A;
  --peach: #EBDAC8;
  --off-white: #F8EEE7;
  --brown: #261e19;
  --priority-urgent: #b91c1c;
  --priority-important: #c2410c;
  --priority-low-priority: #f59e0b;
  --task-completed: #0284c7;
}

/* https://www.fontsquirrel.com/fonts/roboto */

@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Font Stack */
/* https://modernfontstacks.com/ */

body {
  font-family: "Roboto", Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

/* Content */

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--dark-purple);
}

#main {
  height: 75vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  background-color: var(--peach);
  border-radius: 0.2rem;
  padding: 1em;
}

/* ==========================================================================
  Sidebar
  ========================================================================== */

#sidebar {
  padding: 0.6em;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 0.2rem;
  background-color: var(--purple);
  overflow-y: hidden;
}

#agenda-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: auto;
}

#agenda-list-container h2 {
  font-size: 2em;
  color: var(--peach);
}

#agenda-list {
  list-style-type: none;
  margin-bottom: 1em;
  color: var(--brown);
  overflow-y: auto;
}

/* Agenda Items */

.agenda-item {
  margin-bottom: 1em;
  padding: 0.2em;
  background-color: var(--peach);
  display: flex;
  align-items: center;
  gap: 0.1em;
}

.agenda-item:hover {
  background-color: var(--off-white);
  cursor: pointer;
  outline: 1px solid var(--brown);
}

.agenda-item.disabled-agenda-item {
  opacity: 0.5;
}

.agenda-item.disabled-agenda-item:hover {
  cursor: default;
}

.current-agenda {
  background-color: var(--dark-purple);
  color: var(--peach);
}

.agenda-item.current-agenda:hover {
  background-color: var(--dark-purple);
  outline-color: var(--off-white);
}

.current-agenda.agenda-editing {
  outline: double var(--off-white);
  outline-width: 0.3em;
}

.agenda-item h3 {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agenda-edit-button {
  background-image: url(../assets/pencil-outline.svg);
}

.current-agenda .agenda-edit-button {
  background-image: url(../assets/pencil-outline-white.svg);
}

.agenda-edit-button:hover {
  background-image: url(../assets/pencil-outline-blue.svg);
}

.current-agenda .agenda-delete-button {
  background-image: url(../assets/delete-outline-white.svg);
}

.agenda-delete-button {
  background-image: url(../assets/delete-outline.svg);
}

.agenda-delete-button:hover {
  background-image: url(../assets/delete-outline-red.svg);
}

.agenda-edit-save-button {
  background-image: url(../assets/edit-save.svg);
}

.agenda-edit-save-button:hover {
  background-image: url(../assets/edit-save-blue.svg);
  }

.agenda-edit-cancel-button {
  background-image: url(../assets/cancel-edit.svg);
}

.agenda-edit-cancel-button:hover {
  background-image: url(../assets/cancel-edit-red.svg);
  }

.agenda-edit-button, .agenda-delete-button, .agenda-edit-save-button,
.agenda-edit-cancel-button {
  background-repeat: no-repeat;
  height: 1.2em;
  width: 1.2em;
}

.agenda-item, #add-agenda {
  font-size: 1.2em;
  height: 2.2em;
  width: 11em;
  border-radius: 0.2rem;
  border: none;
}

#add-agenda-container {
  display: grid;
  justify-items: center;
}

#add-agenda {
  background-color: var(--dark-purple);
  color: var(--peach);
}

#add-agenda:hover {
  background-color: var(--peach);
  color: var(--brown);
  cursor: pointer;
}

/* ==========================================================================
  Tasks
  ========================================================================== */

#tasks {
  background-color: var(--peach);
  border-radius: 0.2rem;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 4fr;
  overflow: hidden;
}

/* Header */

#agenda-header {
  color: var(--brown);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto auto;
}

#agenda-header h1 {
  font-size: 3em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#agenda-header h1.agenda-child-editing, #agenda-description.agenda-child-editing {
  outline: 1px solid;
}

#agenda-header h1.agenda-child-editing {
  width: 20ch;
}

#agenda-description.agenda-child-editing {
  width: 60ch;
}

#agenda-header h1.agenda-child-editing.max-characters::after,
#agenda-description.agenda-child-editing.max-characters::after {
  content: "Max. characters";
  font-size: 1rem;
  position: absolute;
  color: red;
  right: 35em;
}

#agenda-description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#priorities-key {
  grid-column: 2 / 3;
  grid-row: 1 / end;
  place-self: center;
  display: grid;
}

#priorities-key-list {
  list-style-type: none;
}

#urgent-priority-key {
  color: var(--priority-urgent);
}

#important-priority-key {
  color: var(--priority-important);
}

#low-priority-key {
  color: var(--priority-low-priority);
}

#tasks hr {
  border-color: var(--brown);
  grid-column: 1 / end;
  grid-row: 3 / 4;
}

/* Task List */

#task-list-container {
  display: grid;
  grid-template-rows: 1fr;
  padding: 1em;
  overflow-y: hidden;
}

#task-list {
  list-style-type: none;
  overflow-y: auto;
  padding: 0 1em;
}

/* Task Items */

.task-item, .expanded-task-item {
  height: 3.5em;
  border-radius: 0.2rem;
  margin-bottom: 1em;
  background-color: var(--purple);
  color: var(--peach);
}

.expanded-task-item {
  height: 8em;
}

.task-item.completed {
  opacity: 0.5;
}

.task-item div {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 0.4fr 0.6fr 6fr repeat(2, 1.2fr) repeat(2, 0.4fr);
  padding: 0 1em 0 0;
}

/* Task Item Children */

.task-check-container {
  display: grid;
  align-items: center;
}

/* Checkbox from https://moderncss.dev/pure-css-custom-checkbox-style/ */

.task-check {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--dark-purple);
  border-radius: 0.2rem;
  display: grid;
  place-content: center;
}

.task-check:hover {
  cursor: pointer;
}

.task-check::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--dark-purple);
  background-color: CanvasText;
  
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.task-check:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* ========== */

.task-title {
  width: 100%;
  padding: 0 1em 0 0;
  text-align: left;
}

.task-item.completed .task-title {
  text-decoration: line-through;
}

/* ========== */

.task-details-button:hover {
  cursor: pointer;
  background-color: var(--peach);
  color: var(--purple);
  padding: 0.2em;
  border-radius: 0.2em;
}

/* ========== */

.task-edit-button {
  background-image: url(../assets/pencil-outline-white.svg);
}

.task-edit-button:hover {
  cursor: pointer;
  background-image: url(../assets/pencil-outline-blue.svg);
}

.task-item.completed .task-edit-button:hover {
  cursor: default;
  background-image: url(../assets/pencil-outline-white.svg);
}

/* ========== */

.task-delete-button {
  background-image: url(../assets/delete-outline-white.svg);
}

.task-delete-button:hover {
  cursor: pointer;
  background-image: url(../assets/delete-outline-red.svg);
}

/* ========== */

.task-edit-button, .task-delete-button {
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
}

/* ========== */

.task-priority {
  border-radius: 0.2rem 0 0 0.2rem ;
  width: 100%;
  height: 100%;
  color: var(--peach);
  display: grid;
  place-content: center;
}

.task-priority.urgent {
  background-color: var(--priority-urgent);
}

.task-priority.important {
  background-color: var(--priority-important);
}

.task-priority.low {
  background-color: var(--priority-low-priority);
}

/* ========== */

#add-task-container {
  display: grid;
  justify-items: center;
}

#add-task {
  font-size: 1.2em;
  height: 2.2em;
  width: 11em;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--dark-purple);
  color: var(--peach);
}

#add-task:hover {
  cursor: pointer;
  background-color: var(--purple);
}

/* ========== */

#add-task:disabled:hover, #add-agenda:disabled:hover {
  background-color: var(--dark-purple);
  cursor: default;
}

#add-task:disabled, #add-agenda:disabled {
  opacity: 0.5;
}

/* ==========================================================================
  Dialogs
  ========================================================================== */

dialog {
  /*  https://medium.com/@debajyotim/making-an-element-center-simple-css-tricks-b51cca7597ce */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border-radius: 0.2rem;
  border: 3px solid var(--brown);
  text-align: center;
}

dialog button {
  background-color: var(--dark-purple);
  color: var(--peach);
  border-radius: 0.2rem;
  border: none;
}

dialog button:hover {
  cursor: pointer;
  background-color: var(--purple);
}

.dialog-content-container {
  display: grid;  
  gap: 0.8em 0em;
}

/* Task and Agenda Deletion Confirmation */

#delete-confirmation-dialog {
  width: 30%;
}

#delete-confirmation-dialog .dialog-content-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#delete-confirmation-dialog #delete-confirmation-question {
  grid-column: 1 / 3;
}

#delete-confirmation-dialog #confirm-delete, #delete-confirmation-dialog #prevent-delete {
  margin: 0 1em;
}

/* Task details */

#task-details-dialog {
  min-width: 15%;
  max-width: 30%;
}

#task-details-dialog .dialog-content-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(3, auto) 1fr
}

#task-details-title {
  grid-column: 1 / 4;
}

#task-details-description {
  text-align: left;
  border: 1px solid;
  border-radius: 0.2rem;
  padding: 0.2em;
  max-height: 10em;
  overflow-y: scroll;
}

#task-details-description.not-set:after,
#task-details-due-date.not-set:after {
  content: "Not set";
  font-style: italic;
}

.description-container {
  grid-column: 1 / 4;
  text-align: left;
}

#task-details-priority {
  grid-column: 1 / 2;
  text-align: left;
}

#task-details-priority.low {
  color: var(--priority-low-priority);
}

#task-details-priority.important {
  color: var(--priority-important);
}

#task-details-priority.urgent {
  color: var(--priority-urgent);
}

#task-details-due-date {
  grid-column: 1 / 3;
  text-align: left;
}

#close-details-dialog {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

/* Task Edit */

#task-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8em 0.8em;
}

#task-form div{
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: left;
}

label[for=task-name-input] {
  grid-row: 1 / 2;
}

label[for=task-name-input]:after {
  content: "Required";
  float: right;
  background-color: var(--dark-purple);
  color: white;
  border-radius: 0.2rem;
  padding: 0 0.1em;
}

#task-name-input:required:valid + label[for=task-name-input]:after {
  content: "";
}

#task-name-input.max-characters:required:valid + label[for=task-name-input]:after {
  content: "Max. characters";
  background-color: transparent;
  color: red;
}

#task-description-input, #task-form input {
  padding: 0.1em 0.4em;
}

#task-priority-input:hover {
  cursor: pointer;
}

#task-priority-input option {
  background-color: var(--dark-purple);
  color: white;
}

#task-priority-input option:checked {
  background-color: var(--purple);
}

#task-form button {
  padding: 0.2em 0;
}