/* ==========================================================================
  Reset 
  ========================================================================== */

  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* ==========================================================================
  General
  ========================================================================== */

/* Colour Palette */

* {
  --purple: #94618E;
  --dark-purple: #49274A;
  --peach: #F4decb;
  --off-white: #F8EEE7;
  --priority-urgent: #b91c1c;
  --priority-important: #c2410c;
  --priority-low-priority: #f59e0b;
  --task-completed: #0284c7;
}

/* Font Stack */
/* https://modernfontstacks.com/ */

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
  source-sans-pro, sans-serif;
}

#main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

#main * {
  border: 1px solid;
}

/* ==========================================================================
  Sidebar
  ========================================================================== */

/* ==========================================================================
  Content
  ========================================================================== */

#content {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

#task-list, #expanded-task-details {
  margin: 1rem;
}